<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>STRUK PEMBELIAN</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <div>STRUK PEMBELIAN</div>
        <table border="1">
            <tr>
        <th>Nama Barang        : </th>
        <th>Harga Barang    : </th>
        <th>Jumlah Barang      : </th>
        <th>Harga       : </th>
        <th>Besaran Diskon(%): </th>
        <th>Diskon Rupiah    : </th>
        <th>Total      : </th>
        </tr>
        <hr>
            <p> <th th:text="${name}">
            <p> <td th:text="${price}">
            <p><td th:text="${jml}">
            <p><td th:text="${tbayar}">
            <p><td th:text="${disc}">
            <p><td th:text="${discountrp}">    
            <p><td th:text="${total}"> 
                </hr>
            <div class="footer">
            <p>Created by Paldi</p>
        </div>
    </body>
</html>
